body {
  font-family: "Inter", sans-serif;
}

#Wave {
  background: linear-gradient(to top, #f7e93f, #fb09b4, #9100f8);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.primary-btn {
  background: linear-gradient(45deg, #f7e93f, #fb09b4, #9100f8);
  padding: 12px 16px;
  border-radius: 10000px;
  font-weight: 600;
  color: white;
  cursor: pointer;
  transition: 2s;
}
.onesss {
  background: linear-gradient(45deg, #f7e93f, #fb09b4, #9100f8);
  cursor: pointer;
  transition: 2s;
  border-radius: 10000px;
  padding: 12px 16px;
  font-weight: 600;
}
.onesss:hover {
  background: white;
  color: black;
  transition: 1s;
}
.primary-btn:hover {
  background: linear-gradient(45deg, #fd00be, #1ce669, #52167c);
  color: black;
  font-weight: 700;
}
.New {
  padding: 8px 16px;
  background: #00ff88;
  border-radius: 10000px;
  color: #1a0b2e;
  font-weight: 600;
}

.foter-icon {
  background: linear-gradient(to top, #f7e93f, #fb09b4, #9100f8);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* hero section css start */

.hero {
  background: #9100f8;
  background: url(assets/hero-circle.png), url(assets/hero-bg.png);
  background-repeat: no-repeat;
  background-position:
    center 80px,
    center;
  background-size: 350px, cover;
}
.twondbtn {
  background: transparent;
  color: #1ce669;
  border: 2px solid #1ce669;
}
.twondbtn:hover {
  background: pink;
  transition: 2s;
}
footer {
  background: url(assets/footer-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.animation-container {
  height: 60px;
  width: 100%;
  position: relative;
}
.animation {
  height: 20px;
  width: 20px;
  background: #9100f8;
  box-shadow: 0px 0px 50px rgb(255, 255, 255);
  border-radius: 50%;
  position: absolute;
  animation: assigntment-animation infinite ease;
  animation-duration: 10s;
}
@keyframes assigntment-animation {
  0% {
    top: 0px;
    left: 0%;
  }
  5% {
    top: 30px;
    left: 10%;
  }
  10% {
    top: 0px;
    left: 20%;
  }
  15% {
    top: 30px;
    left: 30%;
  }
  20% {
    top: 0px;
    left: 40%;
  }
  25% {
    top: 30px;
    left: 50%;
  }
  30% {
    top: 0px;
    left: 60%;
  }
  35% {
    top: 30px;
    left: 70%;
  }
  40% {
    top: 0px;
    left: 80%;
  }
  45% {
    top: 30px;
    left: 90%;
  }
  50% {
    top: 0px;
    left: 97%;
  }
  55% {
    top: 30px;
    left: 90%;
  }
  60% {
    top: 0px;
    left: 80%;
  }
  65% {
    top: 30px;
    left: 70%;
  }
  70% {
    top: 0px;
    left: 60%;
  }
  75% {
    top: 30px;
    left: 50%;
  }
  80% {
    top: 0px;
    left: 40%;
  }
  85% {
    top: 30px;
    left: 30%;
  }
  90% {
    top: 0px;
    left: 20%;
  }
  95% {
    top: 30px;
    left: 10%;
  }
  100% {
    top: 0px;
    left: 0%;
  }
}

@media screen and (max-width: 640px) {
  .hero {
    background-size:
      280px 280px,
      630px;
    background-position:
      center 80px,
      center 110px;
  }
}
