body {
  font-family: "Inter", sans-serif;
}

#Wave {
  background: linear-gradient(to top, #f7e93f, #fb09b4, #9100f8);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.primary-btn {
  background: linear-gradient(45deg, #f7e93f, #fb09b4, #9100f8);
  padding: 12px 16px;
  border-radius: 10000px;
  font-weight: 600;
  color: white;
  cursor: pointer;
  transition: 2s;
}
.onesss {
  background: linear-gradient(45deg, #f7e93f, #fb09b4, #9100f8);
  cursor: pointer;
  transition: 2s;
  border-radius: 10000px;
  padding: 12px 16px;
  font-weight: 600;
}
.onesss:hover {
  background: white;
  color: black;
  transition: 1s;
}
.primary-btn:hover {
  background: linear-gradient(45deg, #fd00be, #1ce669, #52167c);
  color: black;
  font-weight: 700;
}
.New {
  padding: 8px 16px;
  background: #00ff88;
  border-radius: 10000px;
  color: #1a0b2e;
  font-weight: 600;
}

.foter-icon {
  background: linear-gradient(to top, #f7e93f, #fb09b4, #9100f8);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* hero section css start */

.hero {
  background: #9100f8;
  background: url(assets/hero-circle.png), url(assets/hero-bg.png);
  background-repeat: no-repeat;
  background-position:
    center 80px,
    center;
  background-size: 350px, cover;
}
.twondbtn {
  background: transparent;
  color: #1ce669;
  border: 2px solid #1ce669;
}
.twondbtn:hover {
  background: pink;
  transition: 2s;
}
@media screen and (max-width: 640px) {
  .hero {
    background-size:
      280px 280px,
      630px;
    background-position:
      center 80px,
      center 110px;
  }
}
